body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#word {
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 5%;
}
#timer {
    font-size: 2em;
    padding: 20px;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#pastWords {
    margin-top: 20px;
    font-size: 18px;
}
#pastWordsList {
    list-style-type: none;
    padding: 0;
}
#pastWordsList li {
    margin: 5px 0;
}