body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#word {
    font-size: 2em;
    padding: 20px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 5%;
}
#timer {
    font-size: 2em;
    padding: 20px;
    background: white;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}